.cabeçalho2 { /*Cabeçalho do Site*/
    position: relative;
    border-bottom: 3px solid white;
    left: -10px;
    width: 99vw;
    height: 70px;
}

#logo2 {
    position: relative;
    bottom: 60px;
    right: 50px;
    height: 200px;
    bottom: 65px;
    width: 300px;
}

#inserir1 {
    font-size: 14px;
    border-radius: 50px;
    width: 90px;
    text-align: center;
    border-color: black ;
}
#inserir2 {
    font-size: 14px;
    border-radius: 50px;
    width: 90px;
    text-align: center;
    border-color: black ;
}
#criador{
    text-align: center;
    color: white;
    }
    
    #contato{
        text-align: left;
        color: white
    }
    .rodape{
        position: relative;
        top: 150px;
        left: -8px;
        min-width: 100.5%;
        min-height: 100%;
        padding: 4px 4px;
        background-color: black;
    }
    #botão1{
        color: white;
            background-color: black;
            border: none;
            height: 40px;
            line-height: 30px;
            padding: 0 20px;
            text-transform: uppercase;
            font-weight: bold;
            cursor: pointer;
            border-radius: 30px;
        }
        