.cabeçalho { /*Cabeçalho do Site*/
    position: relative;
    border-bottom: 3px solid white;
    left: -10px;
    width: 100%;
    height: 70px;
}

#logo{ /*Logo do Site "Calculator" */
    position: relative;
    bottom: 60px;
    right: 50px;
    height: 200px;
    bottom: 65px;
    width: 300px;
}

.container1 { /* Container da caixa que fica o nome "Adição" */
    position: relative;
    left: -10px;
    bottom: 60px;
    width: 150px;
    height: 40px;
}

#boxadição{ /*Caixa que fica o nome "Adição"*/
    width: 100%;
    height: 100%;
    border-radius: 0 7px 7px 0;
    background-color: white;
}

#adição{ /*Nome "Adição"*/
    position: absolute;
    bottom: -10px;
    left: 5px;
    z-index: 1;
}
.container2 { /* Container da caixa que fica o nome "Divisão" */
    position: relative;
    left: -10px;
    bottom: 40px;
    width: 150px;
    height: 40px;
}

#boxdivisão{ /*Caixa que fica o nome "Divisão"*/
    width: 100%;
    height: 100%;
    border-radius: 0 7px 7px 0;
    background-color: white;
}

#divisão{ /*Nome "Divisão"*/
    position: absolute;
    bottom: -10px;
    left: 5px;
    z-index: 1;
}

.container3{ /* Container da caixa que fica o nome "Hipoteca" */
    position: relative;
    left: -10px;
    bottom: 20px;
    width: 150px;
    height: 40px;
}

#boxhipoteca{ /*Caixa que fica o nome "Hipoteca"*/
    width: 100%;
    height: 100%;
    border-radius: 0 7px 7px 0;
    background-color: white;
}

#hipoteca{ /*Nome "Hipoteca"*/
    position: absolute;
    bottom: -10px;
    left: 5px;
    z-index: 1;
}

.container4{ /* Container da caixa que fica o nome "Subtração" */
    position: relative;
    left: -10px;
    top: 0px;
    width: 150px;
    height: 40px;
}

#boxsubtração{ /*Caixa que fica o nome "Subtração"*/
    width: 100%;
    height: 100%;
    border-radius: 0 7px 7px 0;
    background-color: white;
}

#subtração{ /*Nome "Subtração"*/
    position: absolute;
    bottom: -10px;
    left: 5px;
    z-index: 1;
}

.container5{ /* Container da caixa que fica o nome "Porcentagem" */
    position: relative;
    left: -10px;
    top: 20px;
    width: 200px;
    height: 40px;
}

#boxporcentagem{ /*Caixa que fica o nome "Porcentagem"*/
    width: 100%;
    height: 100%;
    border-radius: 0 7px 7px 0;
    background-color: white;
}

#porcentagem{ /*Nome "Porcentagem"*/
    position: absolute;
    bottom: -10px;
    left: 5px;
    z-index: 1;
}

.container6 { /* Container da caixa que fica o nome "Multiplicação" */
    position: relative;
    left: -10px;
    top: 40px;
    width: 250px;
    height: 40px;
}

#boxmultiplicação{ /*Caixa que fica o nome "Multiplicação"*/
    width: 100%;
    height: 100%;
    border-radius: 0 7px 7px 0;
    background-color: white;
}

#multiplicação{ /*Nome "Multiplicação"*/
    position: absolute;
    bottom: -10px;
    left: 5px;
}

.container7 { /* Container da caixa que fica o nome "Juros Simples" */
    position: relative;
    left: -10px;
    top: 60px;
    width: 250px;
    height: 40px;
}

#boxjuros{ /*Caixa que fica o nome "Juros Simples"*/
    width: 100%;
    height: 100%;
    border-radius: 0 7px 7px 0;
    background-color: white;
}

#juros{ /*Nome "Juros Simples"*/
    position: absolute;
    bottom: -10px;
    left: 5px;
}

.container8 { /* Container da caixa que fica o nome "Juros Composto" */
    position: relative;
    left: -10px;
    top: 80px;
    width: 250px;
    height: 40px;
}

#boxjuroscomposto{ /*Caixa que fica o nome "Juros Composto"*/
    width: 100%;
    height: 100%;
    border-radius: 0 7px 7px 0;
    background-color: white;
}

#juroscomposto{ /*Nome "Juros Composto"*/
    position: absolute;
    bottom: -10px;
    left: 5px;
}

.lista{ /*Lista de nomes das operações aritméticas*/
    position: relative;
    top: 65px;
    line-height: 2.0;
}

#simbolos{ /*Imagem com Símbolos para decoração das página*/
    position: absolute;
    height: 300px;
    width: 500px;
    left: 580px;
    bottom: 200px;
    transform: scale(1.5);
}

#icone{ /*ícone do Site*/
    width: 100px;
}

main{
    position: relative;
    height: 30vh;
    width: 95vw;
    right: 0px;
}

footer {
    position: absolute;
    width: 99%;
    height: 10vh;
    color: white;
}

#footer-content{
    background-color: rgb(18, 18, 20);
    display: flex;
    padding: 1.5rem 0.5rem;
}
#footer-criador{
    font-size: 15px;
    position: relative;
    text-align: center;
    left: 45%;
}
