.cabeçalho {
    position: relative;
    border-bottom: 3px solid black;
    left: -10px;
    width: 100%;
    height: 70px;
}

#logo{
    position: relative;
    bottom: 60px;
    right: 50px;
    height: 200px;
    bottom: 65px;
    width: 300px;

}

#boxadição{
    position: relative;
    width: 100px;
    height: 30px;
    background-color: white;
    border-radius: 10px;
}

.lista{
    position: relative;
    top: 25px;
    line-height: 0.8;
}

#simbolos{
    position: absolute;
    height: 300px;
    width: 500px;
    left: 580px;
    bottom: 200px;
    transform: scale(1.5);
}

#icone{
    width: 100px;
}

.rodape{
    position: relative;
    top: 60px;
    left: -8px;
    min-width: 100.5%;
    min-height: 100%;
    padding: 4px 4px;
    background-color: black;
}

#criador{
    text-align: center;
    color: white;
}

#contato{
    text-align: left;
    color: white;
    font-size: 13px;
    
}
