body{
    font-family: 'poppins-bold', sans-serif !important;
}
.cabeçalho { /*Cabeçalho do Site*/
    background-color: white;
    position: relative;
    border-bottom: 3px solid black;
    left: -10px;
    bottom: 7px;
    width: 99vw;
    height: 80px;
}

#logo{ /*Logo do Site "Calculator" */
    position: relative;
    bottom: 55px;
    right: 50px;
    height: 200px;
    width: 300px;
}
#bemvindo{
    text-align: center;
    color: white;
    font-weight: 700;
}

.containerlista {
    position: relative;
    bottom: 160px;
    text-align: center;
    height: 100vh;
    flex-direction: column;
    justify-content: center;
    display: flex;
}

.row {
    display: flex;
    flex-wrap: wrap; /* Permite que os itens de uma linha quebrem para a próxima linha */
    justify-content: center;
}

.texto {
    margin: 20px; /* Reduz a margem */
    padding: 5px;
    border: 1px solid #ccc;
    display: inline-block;
    border-radius: 25px;
    transition: transform 0.3s;
    height: 45px;
    width: 250px; /* Reduz a largura */
    max-width: 100%; /* Garante que os textos não ultrapassem o contêiner */
    text-align: center; /* Centraliza o texto horizontalmente */
    align-items: center;
    background-color: white;
    box-shadow: 0 30px 45px rgba(0, 0, 0, 0.1);
    font-size: 30px;
}

.texto:hover {
    transform: scale(1.1);
}

.lista{ /*Lista de nomes das operações aritméticas*/
    position: relative;
    bottom: 200px;
    line-height: 2.0;
}

#icone{ /*ícone do Site*/
    width: 100px;
}

.containertexto{
    position: relative;
    background-color: white;
    bottom: 190px;
    border-radius: 50px;
    width: 90vw;
    left: 50px;
}

#bonequinho{
    position: absolute;
    width: 400px;
    height: 400px;
    left: 72%;
    bottom: -30px;
}
#frase{
    position: relative;
    height: 300px;
    left: 40px;
    top: 60px;
    font-size: 24px;
}

.containerrodape{
    position: absolute;
    background-color: black;
    top: 2000px;
    height: 100px;
}

footer {
    position: absolute;
    height: 10vh;
    color: white;
    left: -9px;
    top: 0;
}

#footer-content{
    position: sticky;
    width: 97.7vw;
    height: -10vh;
    background-color: rgb(18, 18, 20);
    display: flex;
    padding: 1.5rem 0.5rem;
}

#footer-criador{
    font-size: 15px;
    position: relative;
    text-align: center;
    top: 20px;
    left: 45%;
}

#footer-redessociais {
    position: relative;
    left: 85%;
    bottom: 10px;
}