body{
    font-family: 'poppins-bold', sans-serif !important;
}

.cabeçalho2 { /*Cabeçalho do Site*/
    background-color: white;
    position: relative;
    border-bottom: 3px solid black;
    left: -10px;
    bottom: 7px;
    width: 99vw;
    height: 80px;
}
#logo2{ /*Logo do Site "Calculator" */
    position: relative;
    bottom: 55px;
    right: 50px;
    height: 200px;
    width: 300px;
}
#veja-tambem{ /*Nome "Veja Também no cabeçalho */
    position: relative;
    color: black;
    font-size: 23px;
    font-weight: 600;
    left: 59%;
    width: 20vw;
    bottom: 202px;
}

.containerlista{
    position: relative;
    bottom: 262px;
    left: 70vw;
    width: 320px;
    height: 100px;
}

.row {
    display: flex;
    flex-wrap: wrap; /* Permite que os itens de uma linha quebrem para a próxima linha */
    justify-content: center;
}

.texto {
    margin: 7px; /* Reduz a margem */
    padding: 5px;
    border: 1px solid #ccc;
    display: inline-block;
    border-radius: 25px;
    transition: transform 0.3s;
    height: 25px;
    width: 130px; /* Reduz a largura */
    max-width: 100%; /* Garante que os textos não ultrapassem o contêiner */
    text-align: center; /* Centraliza o texto horizontalmente */
    align-items: center;
    background-color: white;
    color: black;
    box-shadow: 0 30px 45px rgba(0, 0, 0, 0.1);
    font-size: 20px;
    border-color: black;
}
.texto:hover{
    transform: scale(1.1);
}

#juross {
    color: white;
}

#inserir1 {
    font-size: 14px;  /*tamanho da fonte interna*/
    border-radius: 50px; /*tamnho e formato das bordas*/
    width: 90px; /*tamanho do input*/
    text-align: center; /* texto no meio do input*/
    border-color: black ; /*cor das bordas*/
}
#inserir2 {
    font-size: 14px;
    border-radius: 50px;
    width: 90px;
    text-align: center;
    border-color: black ;
}
#inserir3 {
    font-size: 14px;
    border-radius: 50px;
    width: 90px;
    text-align: center;
    border-color: black ;
}
#botao1 {
    display: inline-block;
    padding: 10px 20px;
    background-color: black;
    color: #fff;
    border: none;
    border-radius: 10px;
    text-align: center;
    text-decoration: none;
    transition: background-color 0.3s, transform 0.3s; /* Adiciona a  animação */
}
    #botao1:hover {
        color:black;
        background-color: white;
        transform: scale(1.1); /* aumenta o botão em 10% quando o mouse passa em cima dele */

    }
    #equacao {
        width: 250px;
        height: 250px;
      
    }
#equacao {
    position: relative;
    width: 400px;
    height: 300px;
    float: right; /* Alinha a imagem no canto direito */
    margin: 10px;
    right: 0;
    bottom: 100px;
    margin-top: -15%;
}
.conteudo{
    color: white;
    width: 650px; /* Define a largura desejada para o retângulo */
    margin: 0 ; /* Centraliza o retângulo horizontalmente na tela */
    padding: 30px;
}
.containerrodape{
    position: absolute;
    background-color: black;
    top: 800px;
    height: 100px;
}
    
footer {
    position: absolute;
    height: 10vh;
    color: white;
    left: -9px;
    top: 0;
}
    
#footer-content{
    position: sticky;
    width: 97.7vw;
    height: -10vh;
    background-color: rgb(18, 18, 20);
    display: flex;
    padding: 1.5rem 0.5rem;
}
    
#footer-criador{
    font-size: 15px;
    position: relative;
    text-align: center;
    top: 20px;
    left: 45%;
}
    
#footer-redessociais {
    position: relative;
    left: 85%;
    bottom: 10px;
}