.cabeçalho2 { /*Cabeçalho do Site*/
    position: relative;
    border-bottom: 3px solid white;
    left: -10px;
    width: 99vw;
    height: 70px;
}
#logo2{ /*Logo do Site "Calculator" */
    position: relative;
    bottom: 60px;
    right: 50px;
    height: 200px;
    bottom: 65px;
    width: 300px;
}
#inserir1 {
    font-size: 14px;
    border-radius: 50px;
    width: 90px;
    text-align: center;
    border-color: black ;
}
#inserir2 {
    font-size: 14px;
    border-radius: 50px;
    width: 90px;
    text-align: center;
    border-color: black ;
}
#inserir3 {
    font-size: 14px;
    border-radius: 50px;
    width: 90px;
    text-align: center;
    border-color: black ;
}
#inserir4 {
    font-size: 14px;
    border-radius: 50px;
    width: 90px;
    text-align: center;
    border-color: black ;
}
#botão1{
    color: #FFF;
        background-color: black;
        border: none;
        height: 40px;
        line-height: 30px;
        padding: 0 20px;
        text-transform: uppercase;
        font-weight: bold;
        cursor: pointer;
        border-radius: 30px;
    }
    #botão2{
        color: #FFF;
            background-color: black;
            border: none;
            height: 40px;
            line-height: 30px;
            padding: 0 20px;
            text-transform: uppercase;
            font-weight: bold;
            cursor: pointer;
            border-radius: 30px;
        }
footer {
    position: relative;
    height: 15vh;
    color: white;
    left: -10px;
    top: 200px;
}

#footer-content{
    position: sticky;
    width: 97.7vw;
    height: -10vh;
    background-color: rgb(18, 18, 20);
    display: flex;
    padding: 1.5rem 0.5rem;
}

#footer-criador{
    font-size: 15px;
    position: relative;
    text-align: center;
    top: 20px;
    left: 45%;
}
#footer-redessociais {
    font-size: 15px;
    position: relative;
    left: 87%;
    bottom: 10px;
}
