#calculadora{
    position: absolute;
height: 420px;
width: 500px;
right: 300px;
}

#logo{
height: 200px;
width: 800x;
left: 600px;
top: 1000px;
}

#icone{
    width: 100px;
}

#criador{
text-align: center;
color: white;
}

#contato{
    text-align: left;
    color: white
}